.SwipeableDrawer {
   background: grey;
}

.button {
   width: 100%;
}
   
.drawer {
   background: 'antiquewhite';
   height: '100%';
}

<<<<<<< HEAD
.userIcon {
=======
.UserIcon {
>>>>>>> e1dab86ddac06c9269c5ff585ceb30390c1cde9d
   width: 175px;
   height: 175px;
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.list {
<<<<<<< HEAD
   width: 250;
=======
   width: 250px;
>>>>>>> e1dab86ddac06c9269c5ff585ceb30390c1cde9d
   justify-content: center;
   align-items: center;
   margin: auto;
}

.info {
   display: flex;
   margin: auto;
   justify-content: center;
   align-items: center;
}

.infoButton{
    size: 'small';
}

.drawerButton {
   width: 250px;
   font-family: sans-serif;
   color: black;
}

.barButton {
   width: 170px;
}

.topStuff {
   display: flex;
   flex-direction: row;
}







