.SwipeableDrawer {
   background: grey;
}

.button {
   width: 100%;
}

Button.button:hover {
    transform: translate(3px, -4px);
    background: rgb(93, 109, 114);
    box-shadow: -3px 4px 5px black;
    transition: all .7s ease;
}
   
.drawer {
   background: lightblue;
   height: 100%;
}

.userIcon {
   width: 175px;
   height: 175px;
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.list {
   width: 250px;
   justify-content: center;
   align-items: center;
   margin: auto;
}

.info {
   display: flex;
   margin: auto;
   height: 62%;
   justify-content: center;
   align-items: flex-end;
}

.infoButton {
    font-size: 15px;
}

.drawerButton {
   width: 250px;
   font-family: sans-serif;
   color: black;
}

.barButton {
   width: 170px;
}

.topStuff {
   display: flex;
   flex-direction: row;
}







