.SwipeableDrawer {
   background: grey;
}

.button {
   width: 100%;
}
   
.drawer {
   background: 'antiquewhite';
   height: '100%';
}

.userIcon {
   width: 175px;
   height: 175px;
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.list {
   width: 250;
   justify-content: center;
   align-items: center;
   margin: auto;
}

.info {
   display: 'flex';
   margin: 'auto';
   justify-content: 'center';
   align-items: 'center';
}

.infoButton{
    size: 'small';
}

.drawerButton {
   width: 250px;
   font-family: sans-serif;
   color: black;
}

.barButton {
   width: 170px;
}

.topStuff {
 display: flex;
 flex-direction: row;
}







